<div id="search_form_item">
	<%= form_for :strato, :method => :get do |f| %>
	  <%= f.text_field :phrase, :value => @search_value, :id => "text" %>
	  <%= label_tag :keyword, "Seleccione Categoria"%>
	  <%= select_tag :keyword, options_for_select(@keywords_select) %>
	  <%= f.submit "" , :class => "search_action" %>
	<% end %>
</div>