
<div class="user_values grid_11">
	<% if user_signed_in? %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link logout'  %>
				<%= link_to  edit_user_registration_path, :class => 'navbar-link user_value' do %>
			  		<strong><%= current_user.email %></strong>
			  	<% end -%>
			  
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
	</div>
	<div class="clear"></div>
</div>